.feedback{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.Areview{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: lightgreen;
    border-radius: 5px;
    margin:10px;
    padding: 10px;
}
.review-btn{
    width:200px;
    height: 40px;
    margin: 10px;
    background-color: lightcoral;
    border-radius: 10px;
    color:white;
    font-size: medium;
}