.card{
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  height: 550px;
  margin: 20px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
  text-align: start;
  cursor: pointer;
}
.card > img {
  object-fit: cover;
  width: 500px;
  height: 400px;
}
.card:hover {
  transform: scale(1.07);
} 



.card__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    text-decoration: none;
    line-height: 0.5;
  }

  .card__info > h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card__info > p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1;
  } 